body{
    font-family:cursive;
    font-weight: 600px;
    line-height: 2.em;
    background: linear-gradient(120deg,#236d72,rgb(136, 155, 97));
}

.content{
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

h1{
    text-align: center;
}

ul{
    list-style-type: none;
    top: 10;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: rgb(44, 35, 35);
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

.active{
    background-color: yellowgreen;
}